<%= simple_form_for([@job, @review]) do |f| %>
  <%= f.error_notification %>

  <div id="star-rating" data-score="<%= review.rating%>"></div>

  <div class="form-inputs">
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


<script type="text/javascript">
	$(document).ready(function(){
		$('#star-rating').raty({
			path: '/assets/',
			scoreName: 'review[rating]'
		});
	});

</script>